check program {{ item.name }} with path /etc/monit/plugins/{{ item.plugin }}.sh "{{ item.argument }}" "{{ item.description }}" "{{ item.environment }}" "{{ item.name }}" every {{ item.interval }} cycles
	if changed status then exec "/etc/monit/handlers/{{ item.notify }}.sh"
	if status != 0 then alert
